* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

button {
    width: fit-content;
    margin-top: 20px;
    padding: 5px 10px;

    font-size: 20px;
    text-transform: uppercase;
    background-color: #17005e;
    color: #fff;
    border: none;
    border-radius: 4px;
} 

button:hover {
    cursor: pointer;
}

a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* NAVIGATION */

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    padding: 10px 24px;
    background-color: #17005e;
    color: #fff;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    color: #fff;
    font-size: 20px;
    padding-left: 20px;
    text-decoration: none;
}

/* FOOTER */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 24px;
    background-color: #17005e;
    color: #fff;

    display: flex;
    flex-direction: column;
}

.footer .links {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
}

.footer a {
    color: #fff;
    font-size: 20px;
    padding-right: 20px;
    padding-top: 10px;
    text-decoration: none;
}

.footer-text {
    padding-top: 10px;
    border-top: 1px solid #fff;
    text-align: right;
}

/* COMPONENTS */

.logo a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 32px;
    padding-left: 0;
}

ul li {
    margin: 10px; 
    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #fff;
    border-radius: 4px;
    color: #17005e;
}

li .product-name{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}

li .product-price {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 10px;
}

.products-list {
    display: flex;
    flex-wrap: wrap;
}

.products-list li {
    width: calc(50% - 20px);
}

.qty-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.qty-controller {
    display: flex;
    flex-direction: row;
}

.product-qty {
    font-size: 20px;
    padding: 5px 10px;
    margin: 0 10px;
    border: 2px solid #17005e;
    border-radius: 3px;
}

.qty-btn {
    font-size: 30px;
    font-weight: 500;
}

.qty-btn:hover {
    cursor: pointer;
}

button.remove-btn {
    margin-top: 0;
    font-size: 20px;
    text-transform: none;
    background-color: transparent;
    color: #17005e;
}

.basket-list {
    width: 50%;
}

.checkout-container {
    width: 40%;
    margin-top: 10px;
    padding: 20px;

    display: flex;
    flex-direction: column;

    background-color: #fff;
    border: 2px solid #17005e;
    border-radius: 4px;
}

.checkout-items,
.checkout-total {
    font-size: 30px;
    color: #17005e;
    margin-bottom: 20px;
}

button.checkout {
    align-self: center;
}

/* PAGES */

.page {
    height: calc(100vh - 265px);
    margin-top: 50px;
    margin-bottom: 215px;
    overflow-y: auto;
    padding: 24px;
    background-color: #f2eeff;
}

.page .header {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 900;
    color: #17005e;
    margin-bottom: 20px;
}

.page.home,
.page.thank-you {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page.home .title {
    font-size: 60px;
    text-transform: uppercase;
    font-weight: 900;
}
button.home-btn {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 500;

    padding: 10px 50px;
    margin-top: 20px;

    background-color: #17005e;
    color: #fff;
}

.page.basket .full-basket {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.page.basket .empty-basket-container,
.page.thank-you .thank-you-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    height: 40%;
    width: 40%;

    background-color: #fff;
    border: 2px solid #17005e;
    border-radius: 4px;
    font-size: 30px;
    color: #17005e;
}